
/* Global Styling */
:root {
  --marroon: #4e2526;
  --gold: #d8be85;
}

/* Footer Styling */
footer {
  height: 40px;
  position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  background-color: var(--gold);
  color: var(--marroon);
  font-style: bold;
  text-align: center;
}