
/* Global Styling */
:root {
  --rieslingcolor: #4e2526;
  --pinotcolor: #d8be85;
}

/* Footer Styling */
footer {
  height: 40px;
  position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 30px;
	clear:both;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  background-color: var(--pinotcolor);
  color: var(--rieslingcolor);
  font-style: bold;
  text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  footer {
    font-size: 3vw;
  }
}