.gifts-container {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.gift {
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid var(--pinotcolor);
  padding: 20px;
  width: 100%;
}

.gift-title {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  padding: 20px 30px 0 30px;
  color: var(--pinotcolor);
}

.gift-icon {
  position:relative;
  left:50%;
  transform:translate(-50%);
  height: 25%;
  width: 25%;
}

.bears {
  display: block;
}

.gift-name, .gift-amount {
  margin-top: 15px;
}

.gift-amount {
  width: 25%;
}

.amount-submit {
  display: flex;
}

.gift-submit {
  background-color: var(--rieslingcolor);
  font-style: italic;
  border: none;
  height: 30px;
  align-self: flex-end;
}

/* Below Progress Bar */
.amounts-display {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  width: 100%;
  align-content: space-between;
}

.amount-given {
  display: flex;
  padding-right: 200px;
}

.total-amount {
  display: flex;
  text-align: right;
}

/* Backgrounds */
.bear-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-1.png');  
}

.kayak-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-2.png');  
}