.gifts-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px 20px 20px;
  border: 6px solid var(--footercolor);
}

.gift {
  background-repeat: no-repeat;
  background-size: contain;
  border: 9px solid var(--footercolor);
  flex: 25%;
  aspect-ratio: 1 / 1; 
  padding: 0 7px;
  max-width: 80%;
  align-content: center;
  align-items: center;
}

.gift-title {
  font-size: 17px;
  font-style: italic;
  text-align: center;
  padding: 20px 20px 0 20px;
  color: var(--footercolor);
  font-weight: 800;
}

.gift-icon {
  position:relative;
  left: 50%;
  transform: translate(-50%);
  height: 25%;
  width: 25%;
}

/* Top Row */

/* Zola */
.zola-info  {
  max-width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.zola-info > img {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  position: relative;
  transform: translateY(20%);
}

.zola-link {
  width: 85%;
  height: 30px;
  background-color: var(--rieslingcolor);
  margin-left: auto;
  position: relative;
  transform: translateY(110%);
  font-weight: 600;
  color: var(--footercolor);
  margin-right: 10px;
  padding-top: 4px;
}

.zola-link > a {
  color: var(--footercolor)
}

.zola-link > a:hover {
  color: var(--mediumpurple);
  text-decoration: none;
}

/* Venmo */
.venmo-info  {
  max-width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.venmo-info > img {
  width: 100%;
  vertical-align: middle;
  position: relative;
  top: 100%;
  transform: translateY(10%);
}

/* Zelle */
.zelle-info  {
  max-width: 85%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.zelle-info > img {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
  margin-bottom: -15px;
  transform: translateY(10%);
}

.zelle-send, .zelle-email {
  color: var(--footercolor);
  font-size: 17px;
}

.zelle-email {
  font-weight: 600;
  font-style: italic;
  font-size: 19px;
  margin-top: -5px;
}


/* Experiences */
.bears {
  display: block;
}

.gift-area {
  max-width: 70%;
  display: block;
  left:50%;
  transform: translate(20%);
}

.gift-inputs {
  display: block;
  width: 100%;
}

.gift-name, .gift-amount {
  margin-top: 15px;
}

.gift-name {
  width: 100%;
}

.gift-name > input {
  padding-left: 5px;
  border: none;
  width: 100%;
}

input.light-box, textarea {
  background-color: var(--hovercolor);
  color: var(--footercolor)
}

input.dark-box, textarea {
  background-color: var(--darkerpurple);
  color: var(--footercolor)
}

input.light-box::placeholder, input.dark-box::placeholder {
  color: var(--footercolor);
}

input:focus::placeholder {
  color: transparent;
}

.amount-submit {
  display: flex;
  align-items: flex-end;
}

.gift-amount {
  width: 50%;
  padding-right: 5px;
}

.gift-amount > input {
  border: none;
  text-align: center
}

.gift-submit {
  background-color: var(--rieslingcolor);
  font-style: italic;
  border: none;
  width: 40%;
  margin-left: auto;
}

.donation-container {
  grid: 12;
}

/* Below Progress Bar */
.amounts-display {
  display: flex;
}

.amount-given {
  text-align: left;
  padding-top: 10px;
  font-weight: 900;
  color: var(--footercolor);
}

.total-amount {
  text-align: right;
  padding-top: 10px;
  margin-left: auto;
  font-weight: 900;
  color: var(--footercolor);
}

/* Backgrounds */
.zola-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-4.png');  
}

.venmo-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-3.png');  
}

.zelle-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-4.png');  
}

.charity-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-3.png');  
}

.kayak-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-2.png');  
  object-fit: contain;
}

.poke-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-1.png');  
}

.tracy-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-2.png');  
}

.mamas-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-1.png');  
}

.hawaii-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-4.png');  
}

.bear-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-3.png');  
}

.wailea-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-4.png');  
}

.salmon-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-3.png');  
}

.alaska-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-2.png');  
}

.beer-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-1.png');  
}

.tramway-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-2.png');  
}

.snorkel-container {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/registry/TILE-1.png');  
}

/* Responsive */
@media screen and (max-width: 1200px) {
  .gift {
    background-repeat: no-repeat;
    background-size: contain;
    border: 4px solid var(--footercolor);
    flex: 33%;
    aspect-ratio: 1 / 1; 
    padding: 0 7px;
    max-width: 80%;
    align-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .gift {
    background-repeat: no-repeat;
    background-size: contain;
    border: 4px solid var(--footercolor);
    flex: 50%;
    aspect-ratio: 1 / 1; 
    padding: 0 7px;
    max-width: 80%;
    align-content: center;
    align-items: center;
  }
}


@media screen and (max-width: 600px) {
  .gift {
    background-repeat: no-repeat;
    background-size: contain;
    border: 4px solid var(--footercolor);
    flex: 100%;
    aspect-ratio: 1 / 1; 
    padding: 0 7px;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}