.toggle-button {
  display: none;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .toggle-button {
    height: 24px;
    width: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    box-sizing: border-box;
  }
  
  .toggle-button-line {
    width: 30px;
    height: 3px;
    background: var(--pinotcolor);
  }
  .toggle-button:focus {
    outline: none;
  }
}

