.tab-list {  
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  color: var(--marroon);
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: var(--marroon);
  color: var(--marroon);
  font-weight: bold;
  border: solid var(--marroon);
}
