.outline {
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/site-assets/BORDER-ASSET-FINAL-01_uyykod.png');  
  background-position: center;
  background-size: contain;
  height: 1200px;
  width: 800px;
  background-repeat: no-repeat;
  background-position: initial;
  margin-left: auto;
  margin-right: auto;
}

.rsvp-border {
  max-width: 80%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  margin-bottom: 25px;
  padding-top: 120px;
}

#rsvp-header {
  text-align: center;
  color: var(--pinotcolor);
  background-color: transparent;
  /* font-family: 'Barcelony', serif, 'Times New Roman', Times, serif; */
}

.divider-line {
  margin-top: 30px;
  border-top: 1px solid var(--rieslingcolor);
  width: 95%;
  margin: auto;
}

.rsvp-respond {
  font-size: 60px;
}

.rsvp-when {
  font-size: 40px;
  margin-top: -15px;
}

#rsvp-who {
  display: flex
}

.rsvp-container {
  flex: 1;
  width: 100%;
}

#rsvp-info-container {
  text-align: left;
  margin-left: 15px;
  margin-top: 0px;
  width: 100%;
  padding-bottom: 35px;
}

.rsvp-info {
  margin-top: 18px;
  line-height: 24px;
}

input {
  width: 90%;
  font-weight: 400;
  border: 1px solid var(--pinotcolor);
  color: var(--pinotcolor);
  /* Need Placeholder Color */
}

input::placeholder {
  color: var(--hovercolor);
  /* Need Placeholder Color */
}

#rsvp-reply-container {
  text-align: right;
  margin-right: 15px;
  width: 100%;
  display: inline;
}

div.rsvp-options {
  text-align: right;
  margin-right: 15px;
  color: var(--mediumpurple);
}

div.rsvp-options > label > input, div.food > label > input {
	visibility: hidden;
}

div.food > label > input {
  border-top: -20px;
}

div.rsvp-options > label {
	margin: 0 0 0 -20px;
  font-size: 16px;
  line-height: 16px;
	width: 95%;
}

div.rsvp-options > label > img.square-checkbox, div.food > label > img.square-checkbox {
	padding: 0px;
	height: 20px;
	width: 20px;
	background: none;
}

div.food > label {
  text-align: center;
}


div.rsvp-options > label > input[type="radio"]:checked +img.square-checkbox, div.food > label > input[type="radio"]:checked +img.square-checkbox {  
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/site-assets/X-icon.png');  
  color: var(--pinotcolor);
  border: 1px solid var(--pinotcolor);
  text-align: center;
	background-repeat: no-repeat;
	background-position:center center;
	background-size:15px 15px;
  background-color: var(--rieslingcolor);
}

div.rsvp-options > label > option:checked, div.food > label > option:checked {
  color: var(--pinotcolor)
}

#rsvp-food {
  display: block;
  text-align: center;
}

.food-options {
  display: flex
}

div.food-container > label {
  font-size: 16px;
	height: 5px;
  padding: 5px;
}

div.food-container {
  color: var(--mediumpurple);
}

.food-choice-guest1 {
  text-align: left;
}

.guest-1 > label {
  width: 50px;
  font-size: 40px;
  text-align: left; 
}

.guest-1 {
  border-style: none;
}

.food {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.food-label {
  margin: auto;
}

.food > label > img.square-checkbox {
  margin-bottom: -40px;
}


.diet {
  padding-top: 20px;
  padding-bottom: 30px;
}

.diet > input {
  width: 60%;
}


div.other-event-options {
	display: flex;
}

div.choices, div.other-event-options {
	display: flex;
  align-items: right;
  justify-content: right;
  width: 80%;
}


div.other-event-options > label > input {
	visibility: hidden;
}

div.other-event-options > label > img.circle-checkbox {
  -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 5px 0px gray inset; 
}

div.other-event-options > label > input[type="radio"]:checked +img.circle-checkbox {  
  background-image:url('https://res.cloudinary.com/amandaeric/image/upload/f_auto/site-assets/X-icon.png');  
  color: var(--pinotcolor);
  border: 1px solid var(--pinotcolor);
  text-align: center;
	background-repeat: no-repeat;
	background-position:center center;
	background-size:15px 15px;
  background-color: var(--rieslingcolor);
}

.plan-text {
  color: var(--footercolor);
}

.rsvp-submit {
  background-color: var(--rieslingcolor);
  color: var(--footercolor);
  font-weight: 700;
  border: none;
  width: 30%;
  margin-left: auto;
}

.rsvp-submit:hover {
  background-color: var(--footercolor);
  color: var(--mediumpurple);
  cursor: pointer;
  font-weight: 600;
  transition: .3s;
}

.per-guest {
 color: var(--footercolor); 
}