.modal-updates {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: none;
}

.register-modal-body {
  background-color: var(--rieslingcolor);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.modal-close-icon {
  text-align: right;
  width: 100%;
  font-size: 25px;
  color: var(--pinotcolor);
}

.modal-updates-submit {
  background-color: var(--pinotcolor);
  color: var(--rieslingcolor);
}

.modal-updates-header {
  /* padding: 25px 0px 25px 0px; */
  color: var(--pinotcolor);
  font-weight: 400;
  font-size: 25px;
}

.modal-updates-field {
  color: var(--pinotcolor);
  font-weight: 600;
  padding-right: 10px;
  padding-bottom: 12px;
  line-height: 25px;
  text-align: center;
  border-color: var(--rieslingcolor);
  width: 350px;
  height: 35px;
}

.modal-updates-field-name {
  color: var(--pinotcolor);
  font-weight: 600;
  padding-right: 10px;
  padding-bottom: 12px;
}

.name-fields, .email-fields {
  display: flex;
  flex-wrap: nowrap;
}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  
  .modal-updates-field {
    border-color: var(--rieslingcolor);
    width: 200px;
  }

  .name-fields, .email-fields {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}