:root {
  font-family: 'RALEWAY', serif, 'Times New Roman', Times, serif;
  --rose: #D6B7B6;
  --olive: #8DAB15;
  --rieslingcolor: #E9CB6D;
  --pinotcolor: #42003E;  
}
* {
  font-family: 'RALEWAY', serif, 'Times New Roman', Times, serif;
  --rose: #D6B7B6;
  --olive: #8DAB15;
  --rieslingcolor: #E9CB6D;
  --pinotcolor: #42003E;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
	padding-bottom: 50px;
}

.row {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 10px 20px 10px 20px;
}

/* Create 2 equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 70%;
  padding: 0 4px;
}

.col-1 {
  height: 34vw;
}

/* Our Story Page Styles */
.story, .story-photo, .story-logo {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: var(--pinotcolor);
  background-color: transparent;
  text-align: center;
  padding: 20px 0px 10px 0px;
}

/* .story-photo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px 10px 0px;
}

.story-logo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
} */

/* Travel Page Styles */
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 66%;
}

.responsive-iframe {
  position: relative;
  width: 100%;
  height: 100%;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .story, .story-photo, .story-logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: var(--pinotcolor);
    background-color: transparent;
    text-align: center;
  }
}
