@font-face {
  font-family: 'Barcelony';
  src: url('https://res.cloudinary.com/amandaeric/raw/upload/v1618962863/site-assets/font/barcelony.woff') format("woff"),
  url('https://res.cloudinary.com/amandaeric/raw/upload/v1618962863/site-assets/font/barcelony.woff2') format('woff2');
}

* {
  font-family: 'RALEWAY', serif, 'Calibri', serif, Times, serif;
  --rose: #D6B7B6;
  --olive: #8DAB15;
  --rieslingcolor: #E4C777;
  --pinotcolor: #6a0f64;
  --mediumpurple: #A869A8;
  --hovercolor: #D0A5CD;
  --footercolor:#42003E; 
  --darkerpurple: #AA69A8;
  
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
	padding-bottom: 50px;
}

.row {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 10px 20px 10px 20px;
}

/* Create 2 equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 70%;
  padding: 0 4px;
}

.col-1 {
  height: 34vw;
}

/* Our Story Page Styles */
.story, .story-photo, .story-logo {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: var(--pinotcolor);
  background-color: transparent;
  text-align: center;
  padding: 20px 0px 10px 0px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  /* Our Story Styles */
  .story, .story-photo, .story-logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: var(--pinotcolor);
    background-color: transparent;
    text-align: center;
  }

}
